@import './base.css';

* {
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0;
  font-size: 16px;
}
#reaction-test {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#reaction-test h2{
  flex: 0 1 100%;
}
#field {
  flex: 1 400px;
  height: 400px;
}
#session,
#scoreboard {
  flex: 2 200px;
  /* width: 200px;
  height: 400px; */
}